table.table(role='grid')
  tr
    th=name
    th Weight
    th Reps
  tr
    td Warmup
    td=locals.waves[0][0]
    td 5
  tr
    td
    td=locals.waves[0][1]
    td 5
  tr
    td
    td=locals.waves[0][2]
    td 3
  tr
    td Wave 1
    td=locals.waves[1][0]
    td 5
  tr
    td
    td=locals.waves[1][1]
    td 5
  tr
    td
    td=locals.waves[1][2]
    td 5+
  tr
    td Wave 2
    td=locals.waves[2][0]
    td 3
  tr
    td
    td=locals.waves[2][1]
    td 3
  tr
    td
    td=locals.waves[2][2]
    td 3+
  tr
    td Wave 3
    td=locals.waves[3][0]
    td 5
  tr
    td
    td=locals.waves[3][1]
    td 3
  tr
    td
    td=locals.waves[3][2]
    td 1+
