.row
  .row.panel.callout
    .small-12.columns
      .row
        .small-12.columns
          h4 Wave 1
      .row
        .small-2.columns=locals.waves[0][0] + ' x 5'
        .small-2.columns=locals.waves[0][1] + ' x 5'
        .small-2.columns=locals.waves[0][2] + ' x 3'
        .small-2.columns=locals.waves[1][0] + ' x 5'
        .small-2.columns=locals.waves[1][1] + ' x 5'
        .small-2.columns=locals.waves[1][2] + ' x 5+'
  .row.panel.callout
    .small-12.columns
      .row
        .small-12.columns
          h4 Wave 2
      .row
        .small-2.columns=locals.waves[0][0] + ' x 5'
        .small-2.columns=locals.waves[0][1] + ' x 5'
        .small-2.columns=locals.waves[0][2] + ' x 3'
        .small-2.columns=locals.waves[2][0] + ' x 3'
        .small-2.columns=locals.waves[2][1] + ' x 3'
        .small-2.columns=locals.waves[2][2] + ' x 3+'
  .row.panel.callout
    .small-12.columns
      .row
        .small-12.columns
          h4 Wave 3
      .row
        .small-2.columns=locals.waves[0][0] + ' x 5'
        .small-2.columns=locals.waves[0][1] + ' x 5'
        .small-2.columns=locals.waves[0][2] + ' x 3'
        .small-2.columns=locals.waves[3][0] + ' x 5'
        .small-2.columns=locals.waves[3][1] + ' x 3'
        .small-2.columns=locals.waves[3][2] + ' x 1+'
