doctype html
html.no-js(lang='en' dir='ltr')
  head
    title lift.zone
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='#{assetsUrl}/css/normalize.css')
    link(rel='stylesheet' href='#{assetsUrl}/css/foundation.css')
    link(rel='stylesheet' href='#{assetsUrl}/css/font-awesome.css')
    script(type='text/javascript' src='#{assetsUrl}/js/vendor/modernizr.js')
  body
    div(data-hook='app')
      block body
      script(type='text/javascript' src='#{assetsUrl}/js/vendor/jquery.js')
      script(type='text/javascript' src='#{assetsUrl}/js/vendor/foundation.js')
      script(type='text/javascript' src='#{assetsUrl}/js/bundle.js')
