section
  .row
    .small-12.columns
      h1 531 Calculator
    hr
  .row
    .medium-6.columns
      form.form-horizontal(role='form')
        .row
          label.small-3.columns OHP
          .small-3.columns
            input.form-control(type='number', step='5' data-hook='ohp-weight' placeholder='weight', title='weight', value=locals.model.ohp.weight)
          .small-3.columns
            input.form-control(type='number' data-hook='ohp-reps' placeholder='reps', title='reps', value=locals.model.ohp.reps)
          .small-3.columns
            input.form-control(type='number', step='5' data-hook='ohp-extra' placeholder='+', title='extra', value=locals.model.ohp.extra)
        .row
          label.small-3.columns Squat
          .small-3.columns
            input.form-control(type='number', step='5' data-hook='squat-weight' placeholder='weight', title='weight', value=locals.model.squat.weight)
          .small-3.columns
            input.form-control(type='number' data-hook='squat-reps' placeholder='reps', title='reps', value=locals.model.squat.reps)
          .small-3.columns
            input.form-control(type='number', step='5' data-hook='squat-extra' placeholder='+', title='extra', value=locals.model.squat.extra)
        .row
          label.small-3.columns Bench
          .small-3.columns
            input.form-control(type='number', step='5' data-hook='bench-weight' placeholder='weight', title='weight', value=locals.model.bench.weight)
          .small-3.columns
            input.form-control(type='number' data-hook='bench-reps' placeholder='reps', title='reps', value=locals.model.bench.reps)
          .small-3.columns
            input.form-control(type='number', step='5' data-hook='bench-extra' placeholder='+', title='extra', value=locals.model.bench.extra)
        .row
          label.small-3.columns Deadlift
          .small-3.columns
            input.form-control(type='number', step='5' data-hook='deadlift-weight' placeholder='weight', title='weight', value=locals.model.deadlift.weight)
          .small-3.columns
            input.form-control(type='number' data-hook='deadlift-reps' placeholder='reps', title='reps', value=locals.model.deadlift.reps)
          .small-3.columns
            input.form-control(type='number', step='5' data-hook='deadlift-extra' placeholder='+', title='extra', value=locals.model.deadlift.extra)
    .medium-6.columns
      .workout.right(data-hook='results')
